<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/new.css" type="text/css">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if not session['logged_in'] %}
   <input type="submit" value="Log in" class="btn btn-primary btn-large btn-block" onclick="window.location='/logon';" >
    <input type="submit" value="Sign up" class="btn btn-primary btn-large btn-block" onclick="window.location='/sign';" >

{% else %}
    <input type="submit" value="Log out" class="btn btn-primary btn-large btn-block" onclick="window.location='/logout';" >
    <input type="submit" value="Search" class="btn btn-primary btn-large btn-block" onclick="window.location='/upload';" >
{% endif %}

{% if session['logged_in'] %}
    <h1 class="welcome">Welcome {{ user }}!</h1>

{% endif %}

</body>
</html>